body{
    background-color: #F7FFF7;
    color: #1A535C;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button{
    padding: 5px 20px;
    background-color: #4ECDC4;
    color: #1A535C;
    border-style: none;
}

input{
    height: 20px;
}